/* Form Inputs */

.input1, .input2 {
    border: none;
    font-size: $sm-sm;
    font-weight: 300;
    height: 5rem;
    margin-bottom: $md-lg;
    margin-right: $sm-sm;
    outline: none;
    padding: .4rem .8rem;
    max-width: $lg;
}

input[type='file'] {
    visibility: hidden; 
}

.button1 {
    background: $purple;
    border: none;
    border-bottom: 5px solid $dark-purple;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    padding: $sm;
    letter-spacing: 1px;
    margin: 0 5rem;
    outline: none;
    transition: background .3s ease, color .3s ease;
    &hover {
        background: $dark-purple;
    }
}

.button2 {
    @extend .button1;
    background: $gray;
    display: none;
    &hover {
        background: $dark-purple;
    }
} 

.button3 {
    @extend .button1;
    font-size: 1rem;
    font-weight: 600;
    padding: 2rem;
    word-break: break-all;
    word-wrap: break-word;
}