/* Header */

.header {
    background: $green;
    border-bottom: 1.5px solid $purple;
    color: $white;
    padding: $md 0;
    text-align: center;
}

.header__title {
    font-family: 'Spectral', serif;
    font-size: $md-lg;
    margin-bottom: .4rem;
}

.header__title::first-letter {
    font-size: $md-ex-lg;
    color: $purple;
}

.header__subtitle {
    color: $purple;
    font-size: $sm;
    font-weight: 600;
}

/* Actions Bar */
.actions {
    background-color: $dark-gray;
    padding: $md;
}

#md5calculator {
    padding: 5rem 0;
    text-align: center;
}

#message {
    align-items: center;
    border: none;
    color: $goldenrod; 
    display: flex;
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    max-width: $ex-lg;
    margin: 0 auto;
    min-height: $md-ex-lg;
    padding: $md 1.6rem;
    justify-content: center; 
    word-break: break-all;
    word-wrap: break-word;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
}

//MEDIA QUERIES
@media (min-width: 300px) and (orientation: portrait) {
    .button1 {
        padding: 3rem 2rem;
        width: 10rem; 
    }
    .button2 {
        justify-content: center;
        width: 15rem;
    }
    .button3 {
        word-break: break-all;
        word-wrap: break-word;
    }
    #button-container {
        flex-direction: column;
        max-width: 100vw;
    }
    #message {
        word-break: break-all;
        word-wrap: break-word;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    html {
        font-size: 70%;
    }
    body{
        text-align: center;
    }
    .container {
        justify-content: center;
      }
    .input {
        font-size: 1.8rem;
        height: 5rem;
        padding: $md .5rem;
        min-width: $lg-sm;
    }
    #message {
        word-break: break-all;
        word-wrap: break-word;
    }
    .button1 {
        padding: 3rem 2rem;
        width: 10rem; 
    }
    .button2 {
        justify-content: center;
        width: 15rem;
    }
    .button3 {
        word-break: break-all;
        word-wrap: break-word;
    }
    #button-container {
        flex-direction: row;
        width: 100vw;
    }
}