@import './settings';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
    background: $gray;
    color: $white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $sm-sm;
}

/* Container */

.container {
  display: block;
  max-width: $ex-lg;
  margin: 0 auto;
  padding: $md $md-lg;
  overflow-x: hidden;
  justify-content: left;
}
