//sizes
$sm-sm: 1.7rem; 
$sm: 2.5rem;
$md: 3rem;
$md-lg: 4rem;
$md-ex-lg: 6rem;
$lg-sm: 10rem;
$lg: 22rem;
$ex-lg: 60rem;


//colors
$green: #008000;
$gray: #3d3941;
$dark-gray: #353239;

$blue: royalblue;

$purple: #4B0082;
$dark-purple: rgb(51, 2, 87);

$red: #FF0000;
$crimson: #DC143C;

$white: #fafafa;
$goldenrod: #DAA520;